.job-table
{
    width:100%;
    background: #e9ecef;
    overflow-x: auto;
    display: inline-block
}
.All{
    color: rgb(70, 70, 70);
    background-color: #bde2ff;
    border-color: #00467e;
    border: 1px solid #00467e;
}
.selected{
    color: rgb(70, 70, 70);
    background-color: 	#d5fcbd;
    border-color: 	#339900;
    border: 1px solid #339900;
}
.selector{
    width: 70px;
}
.btn{
    padding: 2px;
}

.rejected{
    color:  rgb(70, 70, 70);
    background-color: #ffcdbd;
    border-color: #cc3300;
    border: 1px solid #cc3300;
}
.pending{
    color: rgb(70, 70, 70);
    background-color: #ffeebd;
    border-color: #ffcc00;
    border: 1px solid #ffcc00;
}
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.status-btn{
    margin-top: 2px;
    margin-bottom: 2px;
}