<div class="btn-group status-btn">
  <button type="button" class="btn selector" [ngClass]="display">{{display}}</button>
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" [ngClass]="display" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="listCandidate()">
      <div class="circle All"></div>
      <span>All</span>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="selectedCandidate()">
      <div class="circle selected"></div>
      <span>Selected</span>
    </a>
    <a class="dropdown-item" (click)="rejectedCandidate()">
      <div class="circle rejected"></div>
      <span>Rejected</span>
    </a>
    <a class="dropdown-item" (click)="pendingCandidate()">
      <div class="circle pending"></div>
      <span>Pending</span>
    </a>
  </div>
</div>

<div class="job-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Primary Technology</th>
        <th scope="col">Secondary Technology</th>
        <th scope="col">Position</th>
        <th scope="col">Experience</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates; index as i">
        <th scope="row">{{i+1}}</th>
        <td scope="col">{{candidate.name}}</td>
        <td scope="col">{{candidate.pri_technology}}</td>
        <td scope="col">{{candidate.sec_technology}}</td>
        <td scope="col">{{candidate.position_id}}</td>
        <td scope="col">{{candidate.experience}}</td>
        <td scope="col">
          <a href="mailto:{{candidate.email}}?Subject=Hello%20again" target="_top">{{candidate.email}}</a>
        </td>
        <td scope="col">{{candidate.updated | date}}</td>
        <td scope="col">
          <span class="badge badge-pill" [ngClass]="candidate.status">{{candidate.status}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>