<div class="container">
  <div class="jumbotron">
  <h1 class="display-3">Please login.</h1>
  <p class="lead">This is a simple angular firebase app to test authentication.</p>
  <hr class="my-4">
  <p class="lead">
       <button type="button" class="btn btn-sm btn-social btn-lg btn-google" (click)="login()">
     <i class="fa fa-google"></i>Sign in with Google</button>
      <button type="button" class="btn btn-sm btn-social btn-lg btn-facebook" (click)="facebookLogin()">
      <i class="fa fa-facebook"></i>Sign in with Facebook</button>
  </p>
</div>
</div>
