<div class="ces-job-list">
  <a (click)="toggle()" class="list-group-item list-group-item-action" [ngClass]="{'active': show }">
    <div>{{job.title}}
      <i [ngClass]="{'fa-chevron-down': !show,'fa-chevron-up': show }" class="fa float-right" aria-hidden="true"></i>
    </div>
  </a>

  <div class="job-div" *ngIf="show">
    <div class="button-group">
      <button class="btn edit-button btn-sm btn-info float-right" (click)="open()">
        <i class="fa fa-pencil" aria-hidden="true"></i> Edit Job</button>
      <button class="btn btn-sm btn-success float-right" (click)="openCandidate()">Add Candidate</button>
    </div>
    <div class="job-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">Primary Technology</th>
            <th scope="col">Secondary Technology</th>
            <th scope="col">Position</th>
            <th scope="col">experience</th>
            <th scope="col">email</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates; index as i">
            <th scope="row">{{i+1}}</th>
            <td scope="col">{{candidate.name}}</td>
            <td scope="col">{{candidate.pri_technology}}</td>
            <td scope="col">{{candidate.sec_technology}}</td>
            <td scope="col">{{job.title}}</td>
            <td scope="col">{{candidate.experience}}</td>
            <td scope="col">
              <a href="mailto:{{candidate.email}}?Subject=Hello%20again" target="_top">{{candidate.email}}</a>
            </td>
            <td scope="col">{{candidate.updated}}</td>
            <td scope="col">
              <span class="badge badge-pill badge-secondary">{{candidate.status}}</span>
            </td>
            <td scope="col" class="justify-content-center">
              <i class="fa fa-pencil-square-o" (click)="editCandidate(candidate)" aria-hidden="true"></i>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>