.active{
    color: white !important;
    background-color: #00467e !important;
    border-color: #00467e;
    border-bottom: 2px solid #be882b;
}
.job-table
{
    width:100%;
    background: #e9ecef;
    overflow-x: auto;
    display: inline-block
}
.job-div{
    background: #e9ecef;
}
.list-group-item{
    background-color: #e9ecef;
}
.ces-job-list{
    margin-bottom: 5px;
}

.edit-button{
margin-left: 10px;
margin-bottom: 5px;
}

.button-group{
padding-top: 10px;
padding-right: 10px;
}

.fa-pencil-square-o{
margin-right: 20px;
}

.fa:hover{
    color: #2173d1;
    }
    