<div class="container">
  <div *ngIf="afAuth.authState | async; let user; else showLogin" class="card align-self-center" style="width: 20rem;" [ngClass]="(facebook)?'facebook-col':'google-col'" >
  <img class="card-img-top rounded-circle" [src]="user.photoURL" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"> {{ user.displayName}}</h4>
    <div class="alert alert-success" role="alert">
    Succesfully logged in!
  </div>
    <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
  </div>
  </div>
</div>
  
    <ng-template #showLogin>


<div class="jumbotron">
  <h1 class="display-3">Please login.</h1>
  <p class="lead">This is a simple angular firebase app to test authentication.</p>
  <hr class="my-4">
  <p class="lead">
       <button type="button" class="btn btn-sm btn-social btn-lg btn-google" (click)="login()">
     <i class="fa fa-google"></i>Sign in with Google</button>
      <button type="button" class="btn btn-sm btn-social btn-lg btn-facebook" (click)="facebookLogin()">
      <i class="fa fa-facebook"></i>Sign in with Facebook</button>
  </p>
</div>
    </ng-template>